extends layout

block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/')
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      if user
        a.button(href='#')
          !=h.icon('user-solid') 
          span=user.userName
        
        a.button(href='/logout')
          !=h.icon('sign-out')
          span Logout

include mixins/_pagination

block content
  
  .businesses
    .search.search__admin
      input.search__input(type="text" placeholder='Search...' name="search")
    table.table.table-bordered.search__results(style='display: none')
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          th NATURE OF BUSINESS
          th STATE
          th DATE
          th ACTION
      tbody.search__results--table(id="myTable")
    table.table.table-bordered.hidden
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          th NATURE OF BUSINESS
          th STATE
          th DATE
          th ACTION
      tbody(id="myTable")
        each business in businesses
          tr
            td=business.regNumber
            td=business.businessName
            td=business.natureOfBusiness
            td=business.state
            td=`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
            td
              a.button(href=`/${user.state}/business/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW
    +pagination(page, pages, total)