extends layout

block header
  nav.nav

    nav.nav
    .site-identity
      a(href='/admin')
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/admin')
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span admin
    
      a.button(href='/admin/register-user')
        !=h.icon('user-plus-solid')
        span Register User
      a.button(href='/admin/registered-users')
        !=h.icon('users-solid')
        span Users
      

include mixins/_pagination

block content
  
  .businesses
    .search.search__admin
      input.search__input(type="text" placeholder='Search...' name="search")
    table.table.table-bordered.search__results(style='display: none')
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          th NATURE OF BUSINESS
          th STATE
          th DATE
          th ACTION
      tbody.search__results--table(id="myTable")
    table.table.table-bordered.hidden
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          
          th STATE
          th DATE
          th STATUS
          th ACTION
      tbody(id="myTable")
        each business in businesses
          tr
            td=business.regNumber
            td=business.businessName
            td=business.state
            td=`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
            -const isTreated = business.isTreated == true ? 'TREATED' : 'UNTREATED'
            td(style='color: brown; font-size: 12px;')=isTreated
            td
              a.button(href=`/admin/business/${business.slug}/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW
    +pagination(page, pages, total)