extends layout

block header
  nav.nav
    .site-identity
      //- !=h.dump(user.userType)
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    -const route = user.userType == 'headUser' ? '/' : '/admin'
    a.nav__button.button(href=route)
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      a.button(href='#')
        !=h.icon('user-solid')
        -const userName = user ? user.userName: 'admin'
        span=userName
      if user.userType !== 'headUser'
        a.button(href='/register-user')
          !=h.icon('user-plus-solid')
          span Register User
      if user && user.userName
        a.button(href='/logout')
          !=h.icon('sign-out')
          span Logout

block content
  .overlay
    center
      h3 Mark as treated?
      //- else
        h3 Mark as untreated?
    center.overlay-content
      a.cancel(href='/') cancel
      a.confirm(href=`/treat/${business.slug}/${business.id}`) confirm
  .business
    if business.isTreated == false || null
      a.mark(style='cursor:pointer;color:red;') Mark as Treated
    h1= `BUSINESS NAME: ${business.businessName}`
    .details
      .left__side
        h3
          strong= 'REGISTRATION NO.:' 
        h3
          strong= 'ADDRESS:'
        h3
          strong= 'NATURE OF BUSINESS:' 
        h3
          strong= 'REGISTRATION DATE:'
        h3
          strong= 'PROPRIETORS:'
        h6
          strong= 'SAVED BY:'
      .right__side
        h3=business.regNumber
        h3=business.businessAddress
        h3=business.natureOfBusiness
        h3=business.dateOfReg
        h3=business.proprietors
        h6=business.author.name
    if business.file
      .pdf
        embed(src=`/uploads/${business.file}#toolbar=1` type='application/pdf' width='1000vw' height='600px')
