extends layout

include mixins/_pagination

block content
  .businesses
    //- button.open-btn Open Live Coming Data
    //- div(id="businesses-wrapper")
    //- script(src="/socket.io/socket.io.js")
      //- .search__results
    a.link__button(href='/admin') HOME
    form.search(action='/admin/search/results' method='GET')
      input.search__input(type="text" placeholder="Business Reg, Business name..." name="search")
      button(type='submit')
        i.fa.fa-search
    table.table
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          th NATURE OF BUSINESS
          th STATE
          th DATE
      tbody(id="myTable")
        each business in businesses
          tr
            td
              a(href=`/admin/business/${business.businessName}/${business._id}`)=business.regNumber
            td
              a(href=`/admin/business/${business.businessName}/${business._id}`)=business.businessName
            td
              a(href=`/admin/business/${business.businessName}/${business._id}`)=business.natureOfBusiness
            td
              a(href=`/admin/business/${business.businessName}/${business._id}`)=business.state
            td
              a(href=`/admin/business/${business.businessName}/${business._id}`)=business.dateOfReg
    +pagination(page, pages, total)  
      