extends layout
block content
  .business
    h1=business.businessName
    p=business.regNumber
    p=business.natureOfBusiness
    p=business.dateOfReg
    p=business.dateEntered
    p=business.author
    p=business.proprietors