extends layout5

include mixins/_pagination

block content
  
  |
  br

  .entry-form
    #live
      .status
      h2 Register
      form#businessDetailsForm(action='/' method="POST" name='entry')
        .left
          .form-group
            input.regNumber(type="text" class="form-control" name="regNumber" placeholder="REGISTRATION NO" required="required")
          .form-group
            input.businessName(type="text" class="form-control" name="businessName" placeholder="BUSINESS NAME" required="required")
          .form-group
            input.businessAddress(type="text" class="form-control" name="businessAddress" placeholder="BUSINESS ADDRESS" required="required")
          .form-group
            input.state(type="text" class="form-control" name="state"  required="required" value=`${user.state}` readonly)
          .form-group
            label(for="dateOfReg") DATE REGISTERED
            input.dateOfReg(type="date" name='dateOfReg' max=`${new Date().getFullYear()}-${new Date().getMonth()}-${new Date().getDate()}` required='required' placeholder='DATE REGISTERED')
        .right
          .form-group
            input.natureOfBusiness(type="text" class="form-control" name="natureOfBusiness" placeholder="NATURE OF BUSINESS" required="required")
          .form-group
            input.proprietor1(type="text" class="form-control" name="proprietor1" placeholder="PROPRIETOR 1" required="required")
          .form-group
            input.proprietor2(type="text" class="form-control" name="proprietor2" placeholder="PROPRIETOR 2" )
          .form-group
            input.proprietor3(type="text" class="form-control" name="proprietor3" placeholder="PROPRIETOR 3" )
          .form-group
            input.author(type="text" class="form-control" name="author"  required="required" value=`${user.name}` readonly)
          .form-group
            label(for="file") Upload file
            input.file(type="file" class="filepond ui file small"  name="file" accept="pdf")
          //- .form-group
          //-   input.proprietor(type="text" class="form-control" name="proprietor" placeholder="PROPIETOR 2")
          //- .form-group
          //-   input.proprietor(type="text" class="form-control" name="proprietor" placeholder="PROPIETOR 3")  

          .form-group
            button.link__button(type="submit" class="btn btn-success btn-lg btn-block" id="save") Save
      script(src="/socket.io/socket.io.js")  