extends layout

block header
  nav.nav
    .site-identity
      a(href="/admin")
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/')
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span= user.userName
      a.button(href='/register')
        !=h.icon('user-plus-solid')
        span Register User
      a.button(href='/admin/businesses')
        !=h.icon('history-solid')
        span History
      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

block content
  .users
    each user in users
      .user
        h4= user.name
        h4= user.userName
        a(href=`/${user.slug}/${user._id}`) VIEW