extends layout

block header
  nav.nav
    .site-identity
      a(href="/admin")
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/admin')
      !=h.icon('arrow-left-solid')
      span BACK
    .nav__buttons
      
      a.button(href='#')
        !=h.icon('user-solid') 
        span admin
      a.button(href='/admin/register-user')
        !=h.icon('user-plus-solid')
        span Register User
      a.button(href='/admin/businesses')
        !=h.icon('history-solid')
        span History

block content
 .container
  .table-wrapper
    .table-title
      .row
        .col-sm-8
          h2
            | Registered 
            b Users
    
    table.table.table-bordered
      thead
        tr
          th Username
          th name
          th Account type
          th State 
          th Action
          th
      tbody(id="myTable")
        each user in users
          tr
            td(style='text-transform: lowercase')=`${user.userName}`
            td=`${user.name}`
            -const userType = user.userType == 'zonalAdmin' ? 'ADMIN, ZONAL OFFICE' : user.userType == 'headUser' ? 'USER, HEAD OFFICE' : 'USER, ZONAL OFFICE'
            td= userType
            td=`${user.state}`
            td
              a.link__button(href=`/admin/reset-user/${user._id}` style='color:white;background-color: #1c330d; padding:8px;font-size:12px') RESET PASSOWORD
            td
              a.link__button(href=`/admin/delete-user/${user._id}` style='color:white;background-color: #1c330d; padding:8px;font-size:12px') Delete User
         
         
           
       
  