extends layout7
block content
 .container
  .table-wrapper
    .table-title
      .row
        .col-sm-8
          h2
            | Registered 
            b Users
    
    table.table.table-bordered
      thead
        tr
          th Username
          th name
          th Account type
          th State 
          th delete    
      tbody(id="myTable")
        each user in users
          tr
            td=`${user.userName}`
            td=`${user.name}`
            td=`${user.userType}`
            td=`${user.state}`
            td
              form(action=`/admin/registered-users/delete-user/${user._id}` method='post')
                button.link__button(type='submit') DELETE USER
         
         
           
       
  