extends layout

block content

  .inner
    table.table.table-bordered
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          th NATURE OF BUSINESS
          th STATE
          th DATE
      if businesses.length
        h1 !{total} total results found
        tbody(id="myTable")
          each business in businesses
            tr
              td
                a(href=`/business/${business.businessName}/${business._id}`)=business.regNumber
              td
                a(href=`/business/${business.businessName}/${business._id}`)=business.businessName
              td
                a(href=`/business/${business.businessName}/${business._id}`)=business.natureOfBusiness
              td
                a(href=`/business/${business.businessName}/${business._id}`)=business.state
              td
                a(href=`/business/${business.businessName}/${business._id}`)=business.dateOfReg
      else
        h1 No records are found for !{searchQuery}

