extends layout

block header

  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
        
    .nav__buttons
      a.button(href='#')
        !=h.icon('user-solid') 
        span=user.userName
      a.button(href=`/${user.state}/history`)
        !=h.icon('history-solid')
        span History
      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

block content
  .users

    each user in users
      .user
        h3= user.name
        h4= user.userName
        hr(style='border:1px ridge green;width:100%;')

        h4(style='color:green;') today:
          each total in daily
            if total._id == `${user._id}`
              span=total.count
        h4(style='color:orange;') total: 
          each business in businesses
            if `${business._id}` == `${user._id}`
              span= business.count  
          //- if [business._id].includes(user._id)
        
        //- a(href=`/user/${user.state}/${user.slug}/${user._id}`) VIEW