extends layout

block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    .nav__buttons
      a.nav__button.button(href='/')
        !=h.icon('arrow-left-solid')
        span BACK
      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

block content
  .stats
    pre= h.dump(dailySents)
    pre= h.dump(businessesAuthors)
    each business in businesses
      if `${user.state}` == `${business._id}`
        .total__by--state
          h4=`TOTAL SENT FROM ${user.state}`
          h2= business.count
    each author in dailySents
      .authored
        h4= author.author

