extends layout


block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    -const route = user.userType == 'zonalUser' ? `/${user.state}/${user.slug}/history/${user._id}` : `/${user.state}/history`
    a.nav__button.button(href=route)
      !=h.icon('arrow-left-solid')
      span BACK

    .nav__buttons
      if user
        a.button(href='#')
          !=h.icon('user-solid') 
          span=user.userName
        a.button(href=route)
          !=h.icon('history-solid')
          span History
        
        a.button(href='/logout')
          !=h.icon('sign-out')
          span Logout

include mixins/_business

block content
  .inner
  +business(business)