extends layout

block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
        
    .nav__buttons
      a.button(href='#')
        !=h.icon('user-solid') 
        span=user.userName
      a.button(href='/businesses')
        !=h.icon('history-solid')
        span History
      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

block content
  h3(style='margin-left: 60px;color:#1c330d') TODAY'S STATS
  .users
    each user in users
      .user
        h3= user.name
        h4= user.userName
        hr(style='color: green; border: 1px ridge green; width: 100%;')
        h4 TREATED: 
          each treated in todayTreats
            if treated._id.id == `${user._id}`
              span=treated.count
            
        h4(style='color: brown;') UNTREATED: 
          each pending in pendingsToday
            if pending._id.id == `${user._id}`
              span(style='color: brown')=pending.count
            
        h4(style='color:orange;') RECEIVED: 
          each received in totalReceived
            if received._id.id == `${user._id}`
              span= received.count

          h4 STATUS:
            if user && user.isActive == true
              span  ACTIVE
            else
              span(style='color:brown;')  INACTIVE
          a(href=`/${user.slug}/${user._id}`) VIEW

    //- each user in users
    //-   .user
    //-     h3= user.name
    //-     h4= user.userName
    //-     h4 STATUS:
    //-       if user && user.isActive == true
    //-         span  ACTIVE
    //-       else
    //-         span  INACTIVE

    //-       each treat in todayTreats
    //-         if treat._id == `${user._id}`
    //-           h4 TOTAL TREATED TODAY: 
    //-             span=treat.count

          