extends layout
block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    .nav__buttons
      a.button(href='#')
        !=h.icon('user-solid') 
        span=user.userName
      a.button(href=`/history/tasks/${user.userName}/${user._id}`)
        !=h.icon('history-solid')
        span History
      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

include mixins/_pagination

block content
  .left
    center
      h3(style='color:#1c330d; font-size:14px') TODAY
    .pendings(style='color:red')
      h3.untreatedToday= untreatedToday
      hr(style='border-color:red')
      h4(style='font-size:14px') UNTREATED
      //- h6 TODAY
    a.treated(href=`/history/tasks/${user.userName}/${user._id}` style='text-decoration:none;color:#1c330d;')
      h3= treatedTasks
      hr
      h4(style='font-size:14px') TREATED
      //- h6 TODAY
  .task
    //- .treated
    //-   h3= treatedTasks.length
    //-   h4 TREATED
    //- .pendings
    //-   h3= pendingTasks.length
    //-   h4 PENDINGS

    #live
      table.task__queue--table(data-id=user._id)
        thead
          tr
            th REGISTRATION NO
            th BUSINESS NAME
            th STATE
            th DATE
            th STATUS
            th ACTION
            //- th DATE REGISTERED
        //- tbody(id="table")
        tbody.pendingsTasks(id="table" data-id=`${user.id}`)
          each business in businesses
            -const status = business.isTreated == false ? 'Untreated' : 'Treated'
            -const color = status == 'Treated' ? 'green' : 'brown'
            tr
              td=business.regNumber
              td=business.businessName
              td=business.state
              td=`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
              td(style=`font-size:12px;color:${color};`)=status
              td
                a.button(href=`/business/${business.slug}/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW

        tbody.totalTasks(id="myTable" style='display: none')
          each business in total
            -const status = business.isTreated == false ? 'Untreated' : 'Treated'
            -const color = status == 'Treated' ? 'green' : 'brown'
            tr
              td=business.regNumber
              td=business.businessName
              td=business.state
              td=`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
              td(style=`font-size:12px;color:${color};`)=status
              td
                a.button(href=`/business/${business.slug}/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW
          
        tbody.treatedTasks(id="myTable" style='display: none')
          each business in treatedTasks
            -const status = business.isTreated == false ? 'Untreated' : 'Treated'
            -const color = status == 'Treated' ? 'green' : 'brown'
            tr
              td=business.regNumber
              td=business.businessName
              td=business.state
              td=`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
              td(style=`font-size:12px;color:${color};`)=status
              td
                a.button(href=`/business/${business.slug}/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW

      script(src="/socket.io/socket.io.js")

  .right
    center
      h3(style='color:#1c330d;font-size:14px;') TOTAL
    a.total__received(href=`/history/tasks/${user.userName}/${user._id}` style='text-decoration:none; color: orange')
      h3.totalReceived= total.length
      hr
      h4(style='font-size:14px') RECEIVED
    a.total__pendings(href=`/history/tasks/${user.userName}/${user._id}` style='text-decoration:none; color:brown;')
      h3.totalUntreated= pendingTasks
      hr(style='border-color:brown')
      h4(style='font-size:14px') UNTREATED
    //- .total__pendings
    //-   h3= pendingTasks.length
    //-   h4 TOTAL PENDINGS