extends layout

block header
  nav.nav
    .site-identity
      a(href="/")
        img(src="/images/logos.png" alt="Site logo")
    a.nav__button.button(href='/')
      !=h.icon('arrow-left-solid')
      span BACK

    .nav__buttons
      a.button(href='#')
        !=h.icon('user-solid')
        span=user.userName
      a.button(href='/businesses')
        !=h.icon('history-solid')
        span History
      a.button(href='/logout')
        !=h.icon('sign-out')
        span Logout

block content

  .user__taskQueue
    center.user__info
      h1(style='color: #1c330d;')= user.name
      h3(style='color: #1c330d;')= user.userName
      hr(style='border:1px ridge green;margin: 10px;')
      h3(style='color: green;') STATS
      .total__stats
        .total__treated
          h1= treatedTasks.length
          h5 TREATED
        .total__untreated
          h1= pendingTasks.length
          h5 UNTREATED
        .total__received
          h1= totalTasks.length
          h5 RECEIVED
      .action__links
        if user.isActive == true
          form(action=`/deactivate/${user.slug}/${user._id}` method='post')
            button.button(type=submit style='background-color:brown; color:white;') DEACTIVATE USER
        else
          form(action=`/activate/${user.slug}/${user._id}` method='post')
            button.button(type=submit style='background-color:green;color:white;') ACTIVATE USER
        
        form(action=`/share/${user.slug}/${user._id}` method='post')
          button.button.share__button(type=submit style='background-color:red;color:white;')= `Share ${user.name.split(' ')[0]}'s Tasks`

      //- a.button(href=`/history/tasks/${user.slug}/${user._id}`)= `${user.userName.split(' ')[0]}'s tasks`

  
    //- .search.search__user
    //-   input.search__input(type="text" placeholder='Search...' name="search")
    //- table.table.table-bordered.search__results(style='display: none')
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          th NATURE OF BUSINESS
          th STATE
          th DATE
          th ACTION
      tbody.search__results--table(id="myTable")
    //- table.table.table-bordered.hidden
      thead
        tr
          th REGISTRATION NO
          th BUSINESS NAME
          th NATURE OF BUSINESS
          th STATE
          th DATE
          th ACTION
      tbody.totalTasks(id="myTable")
        each business in totalTasks
          tr
            td
              =business.regNumber
            td
              =business.businessName
            td
              =business.natureOfBusiness
            td
              =business.state
            td
              =`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
            td
              a.button(href=`/${user.state}/business/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW
      tbody.treatedTasks(id="myTable" style='display: none')
        each business in treatedTasks
          tr
            td
              =business.regNumber
            td
              =business.businessName
            td
              =business.natureOfBusiness
            td
              =business.state
            td
              =`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
            td
              a.button(href=`/${user.state}/business/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW
      tbody.pendingsTasks(id="myTable" style='display: none')
          each business in pendingTasks
            tr
              td
                =business.regNumber
              td
                =business.businessName
              td
                =business.natureOfBusiness
              td
                =business.state
              td
                =`${business.dateOfReg.getFullYear()}-${business.dateOfReg.getMonth()}-${business.dateOfReg.getDate()}`
              td
                a.button(href=`/${user.state}/business/${business._id}` style='color:white;background-color: #1c330d; padding: 4px;') VIEW
  //- +pagination(page, pages, total)  