mixin business(business)
  each item in business
    .business

      if user.userType == 'headUser' && item.treated == false
        form(action=`/${user.state}/${item.businessName}/${item._id}` method='POST' style='background-color: #1c330d; color: white; padding: 4px; margin-top: 8px;')
          button.button(type=submit) ACKNOWLEDGE

      if user.userType == 'zonalAdmin'
        a.button(href=`/edit/${item._id}` style='background-color: #1c330d; color: white; padding: 8px; margin-top: 8px;font-size:12px;border-radius:5px;text-decoration:none') EDIT

      .business__grid--show
        h3.left__grid
          strong business name:
        h3
          strong=item.businessName
        h3.left__grid
          strong registration number:
        h3
          strong=item.regNumber
        h3.left__grid
          strong nature of business:
        h3
          strong=item.natureOfBusiness
        h3.left__grid
          strong registration date:
        h3
          strong=item.dateOfReg
        h3.left__grid
          strong sent by:
        h3
          strong=item.author.name
        h3.left__grid
          strong proprietors
        .proprietors
          each proprietor in item.proprietors
            h3
              span 
                .fas.fa-star-solid
              strong=proprietor
      center.proprietors
      if item.file
      .pdf
        -const source = item.fileDir ? item.fileDir : `/uploads/${item.file}`
        embed(src=`${source}#toolbar=1` type='application/pdf' width='1000vw' height='700px')
