mixin business(business)
  each item in business
    .business

      if user.userType == 'headUser' && item.treated == false
        form(action=`/${user.state}/${item.businessName}/${item._id}` method='POST' style='background-color: #1c330d; color: white; padding: 4px; margin-top: 8px;')
          button.button(type=submit) ACKNOWLEDGE

      if user.userType == 'zonalAdmin'
        a.button(href=`/edit/${item._id}` style='background-color: #1c330d; color: white; padding: 4px; margin-top: 8px;') EDIT

      h1= `BUSINESS NAME: ${item.businessName}`
      .details
        .left__side
          h3
            strong= 'REGISTRATION NO.:' 
          h3
            strong= 'ADDRESS:'
          h3
            strong= 'NATURE OF BUSINESS:' 
          h3
            strong= 'REGISTRATION DATE:'
          h3
            strong= 'PROPRIETORS:'
          h6
            strong= 'SAVED BY:'
        .right__side
          h3=item.regNumber
          h3=item.businessAddress
          h3=item.natureOfBusiness
          h3=item.dateOfReg
          h3=item.proprietors
          h6=item.author.name
      if item.file
        .pdf
          embed(src=`/uploads/${item.file}` type='application/pdf' width='1000vw' height='550vh')
