mixin business(business)
  each item in business
    .business
      if user.hasPrivilege
        a.link__button(href='/edit') EDIT
      h1= `BUSINESS NAME: ${item.businessName}`
      h3= `REGISTRATION NO.: ${item.regNumber}`
      h4= `ADDRESS: ${item.businessAddress}` 
      h4= `NATURE OF BUSINESS: ${item.natureOfBusiness}`
      h4= `REGISTRATION DATE: ${item.dateOfReg}`
      h4= `PROPRIETORS: ${item.proprietors}`
      h6= `SAVED BY: ${item.author}`
      if item.file
        //- !=h.dump(business.fileSrc)
        .pdf
          embed(src=`${item.fileSrc}#toolbar=1` type='application/pdf' width='1000vw' height='600px')
