mixin pagination(page, pages, total)
  .pagination
    -const url = user && user.userType ? `/businesses/page/${parseFloat(page)-1}` : `/admin/businesses/page/${parseFloat(page) - 1}`
    .pagination__prev
      if page > 1
        a(href=url) Prev
    .pagination__text
      p Page #{page} of #{pages} - #{total} total results 
    .pagination__next
      if page < pages
        a(href=url) Next